<div class="container">
    <div class="mx-auto mt-0 md:mt-16 bg-white dark:bg-gray-800 flex flex-col justify-between items-center">


      <%= image_tag @restaurant.restaurant_image, class:"w-full h-auto max-h-52 md:max-h-96 md:h-96 object-cover rounded-lg shadow-lg"%>


      <div class="flex flex-col justify-center items-center ml-8 lg:ml-0 mt-8">
        <h5 class="mb-1 text-3xl text-gray-900 dark:text-white">
          <span class="font-semibold"><%= @restaurant.name %></span>
        </h5>
        <h5 class="mb-1 text-xl text-gray-900 dark:text-white flex justify-between items-center">
          <%= image_tag "location.svg", class:"w-6 h-6"%>
          <span class="font-semibold">  <%= @restaurant.address %> </span>
        </h5>
      </div>
        <% if  @restaurant.user == @user %>
          <div class="flex items-center w-fit mt-4 space-x-4" data-controller= "qrcode-download">
            <div data-qrcode-download-target="output">
              <%= render_qr_code(@restaurant_link)%>
            </div>
            <button type="button" name="button" data-action="qrcode-download#downloadQRCode" class="text-yellow-400 hover:text-white border border-yellow-400 hover:bg-yellow-500 focus:ring-4 focus:outline-none focus:ring-yellow-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2 dark:border-yellow-300 dark:text-yellow-300 dark:hover:text-white dark:hover:bg-yellow-400 dark:focus:ring-yellow-900">
              Download Qr Code
            </button>
          </div>
          <div class="flex justify-between items-center w-fit mt-4 space-x-4">
              <%= link_to 'Edit Restaurant', edit_user_restaurant_path(current_user, @restaurant), class: "text-yellow-400 hover:text-white border border-yellow-400 hover:bg-yellow-500 focus:ring-4 focus:outline-none focus:ring-yellow-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2 dark:border-yellow-300 dark:text-yellow-300 dark:hover:text-white dark:hover:bg-yellow-400 dark:focus:ring-yellow-900" %>
              <%= link_to 'Back to Your Profile', user_path(current_user), class: "text-gray-900 hover:text-white border border-gray-800 hover:bg-gray-900 focus:ring-4 focus:outline-none focus:ring-gray-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2 dark:border-gray-600 dark:text-gray-400 dark:hover:text-white dark:hover:bg-gray-600 dark:focus:ring-gray-800" %>
          </div>
          <div class="mt-2">
            <%= turbo_frame_tag "new_food" do%>
              <%= link_to 'Add Foods', new_user_restaurant_food_path(current_user, @restaurant), class: "text-green-700 hover:text-white border border-green-700 hover:bg-green-800 focus:ring-4 focus:outline-none focus:ring-green-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2 dark:border-green-500 dark:text-green-500 dark:hover:text-white dark:hover:bg-green-600 dark:focus:ring-green-800" %>
            <%end%>
          </div>
          <div>
          </div>
        <% end %>
  </div>

  <div class="w-full ml-4 mt-16 mb-4 flex overflow-x-auto space-x-10 items-center">
    <% @categories.each do |category|%>
      <a href="#title_<%=category.id%>" id="slide_<%=category.id%>" class="text-xl font-semibold  hover:text-yellow-500 hover:cursor-pointer">
        <% if @restaurant.foods.find_by(category_id: category.id) != nil %>
          <%=category.name%>
        <%end%>
      </a>
    <%end%>
  </div>


  <div class="mx-2 md:mx-0">


    <% @categories.each do |category|%>
      <div class="w-full flex flex-col justify-center">
        <h2 id="title_<%=category.id%>" class="text-yellow-500 text-2xl font-semibold mb-4 mt-8">
          <% if @restaurant.foods.find_by(category_id: category.id) != nil %>
            <%=category.name%>
          <%end%>
        </h2>
      </div>

      <div id="div_<%=category.id%>">
        <% @restaurant.foods.each do |food|%>
          <% if food.category_id == category.id%>
            <%= render food %>
          <% end %>
        <% end %>
      </div>
    <%end%>
  </div>

</div>
