<!DOCTYPE html>
<html>
  <head>
    <title>RestaurantMenuSystem</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "qrcode", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <script src="https://github.com/niklasvh/html2canvas/releases/download/0.4.1/html2canvas.js"></script>

  </head>

  <body>
    <%= render 'layouts/messages'%>
    <%= yield %>
  </body>

</html>
